body {
    background-image: url("res/bg.png");
    background-attachment: fixed;
    margin: 0;
    font-family: "Arial Black", Gadget, sans-serif;
}

/*
* Navigation bar
*/
nav {
    position: fixed;
    background-color: #f7e1f5;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin: 0;
}

.navlink {
    color: #5B5561;
    font-size: 110%;
    text-decoration: none;
    display: inline-block;
    width: 11%;
}

.navlink:visited {
    color: #5B5561;
    font-size: 110%;
    text-decoration: none;
    display: inline-block;
    width: 11%;
}

.navlink:hover {
    -webkit-box-shadow: inset 0px 0px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 21px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 21px 0px rgba(0,0,0,0.75);
    color: white;
}
/*
* Navigation bar end
*/

a {
    color: #D8FF9F;
}

a:visited {
    color: #D8FF9F;
}

a:hovered {
    color: #00CC1C;
}


section {
    margin: 20px 75px;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: rgba(60, 29, 104, 0.95);
    color: #cbccd6;
}

#Auteur{
 overflow: auto;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  display: inline-block;
  /*float: left;*/
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
  text-decoration: none;
}

h1 {
    font-size: 3em;
    color: white;
    text-align: center;
    background-color: lightblue;   
}

h3 {
    font-size: 2.5em;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

video {
    width: 100%;
    height: auto;
}
